
<div class="mt-5 flex items-center justify-center lg:justify-center">
  <div role="alert" *ngIf="alertOk">
    <span class="inline-flex justify-center items-center size-8 rounded-full border-4 border-teal-100 bg-teal-200 text-teal-800 dark:border-teal-900 dark:bg-teal-800 dark:text-teal-400">
      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"/><path d="m9 12 2 2 4-4"/></svg>
    </span>
    
  </div>

  <div role="alert" *ngIf="alertFail">
    
    <span class="inline-flex justify-center items-center size-8 rounded-full border-4 border-red-100 bg-red-200 text-red-800 dark:border-red-900 dark:bg-red-800 dark:text-red-400">
      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
    </span>
  </div>
 
</div>

<div class="mt-5 flex items-center justify-center lg:justify-center">
    <p class="text-lg text-gray-900 dark:text-gray-800">
    {{message}}
  </p>
</div>
  <div class="mt-2 flex items-center justify-center lg:justify-center">
  <button mat-button (click)="onNoClick()">OK!!!</button>
  </div>

