<div class="mx-auto max-w-7xl py-10 sm:px-6 sm:py-10 lg:px-5">
  <div
    class="relative isolate overflow-hidden bg-gray-900 px-6 pt-10 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-10 lg:flex lg:gap-x-10 lg:px-14 lg:pt-0">
    <svg viewBox="0 0 1024 1024"
      class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
      aria-hidden="true">
      <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
      <defs>
        <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
          <stop stop-color="#7775D6" />
          <stop offset="1" stop-color="#E935C1" />
        </radialGradient>
      </defs>
    </svg>
    <div class="lg:flex-auto lg:py-10 lg:text-left">

      <h2 class="text-3xl font-bold tracking-tight text-gray-100">User Account</h2>
      <hr class="mt-2 bg-slate-100">

      <app-user-account-card [user]="registerUser"></app-user-account-card>

      <div class="mt-10">
        <a (click)="showUserRecords()"
          class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Your
          records</a>
        <hr class="mt-5 text-slate-100">

        <div *ngIf="showRecords">
          <ul role="list" class="divide-y divide-gray-100" *ngFor="let item of usesList">
            <li class="flex justify-between gap-x-6 py-5">
              <div class="flex min-w-0 gap-x-4">
                <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="assets/images/charger_icon.png" alt="">
                <div class="min-w-0 flex-auto">
                  <p class="text-sm font-semibold leading-6 text-gray-100">{{item.chargeStation.description}}</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-100">{{item.chargeStation.address}}</p>
                </div>
              </div>
              <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-6 text-gray-100">{{item.chargeStation.chargerType}} / {{item.charge_time}} min</p>
                <p class="mt-1 text-xs leading-5 text-gray-500">Date: {{item.date | date }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>